.theme-toggle {
  position: absolute;
  top: 80px;  /* Ajusta según el tamaño de tu navbar */
  right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme-toggle input {
  display: none; /* Escondemos el input, solo usamos el label */
}

.theme-toggle label {
  font-size: 2rem;
  transition: all 0.3s;
}


/* Cambios de color del fondo, iconos, letras... */

body.light-mode {
  background-color: #f5ebe0;
}

body.light-mode .navbar {
  background-color: #e3d5ca;
  padding: 5px 10px;
}

body.light-mode .navbar ul li a {
  color: #d69a5f;
}

body.light-mode .clock-time {
  color: #d69a5f;
}

body.light-mode .container-clock {
  border: 3px solid #d69a5f;
  box-shadow: 0 0 20px 5px rgba(214, 154, 95, 0.5);
}

body.light-mode .alarms-container {
  max-height: 250px; 
  width: 400px;
  overflow-y: auto; 
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

body.light-mode .items .alarms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  border-bottom: 5px solid #ddd;
  background-color: #e3d5ca;
  border-radius: 5px;
}

body.light-mode .timer {
  color: #d69a5f;
}

body.light-mode .stopwatch {
  color: #d69a5f;
}

body.light-mode input {
  background-color: #f5ebe0;
  border: 2px solid #d69a5f;
  color: #d69a5f;
}


body.light-mode .restart {
  background-color: #d69a5f;
}

body.light-mode .loop {
  background-color: #d69a5f;
}


body.light-mode .add {
  background-color: #d69a5f;
}


body.light-mode .slider {
  background-color: #d95050;
}

body.light-mode input:checked + .slider {
  background-color: #4ab64a;
}

body.light-mode .container-timer {
  border: 3px solid #d69a5f;
  box-shadow: 0 0 20px 5px rgba(214, 154, 95, 0.5);
}

body.light-mode .container-stopwatch {
  border: 3px solid #d69a5f;
  box-shadow: 0 0 20px 5px rgba(214, 154, 95, 0.5);
}
