@media (max-width: 768px) {

    /* Ajusta la navbar */
   


    .clock-time {
        font-weight: 200;
        font-family: "Jersey 10", serif;
        font-size: 7rem;
    }

    .container-clock {
        height: 150px;
        width: 400px;
        border-radius: 20px;
        border: 3px solid rgb(255, 136, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 5px rgba(225, 132, 10, 0.5);
    }


    .container-stopwatch {
        height: 120px;
        width: 390px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 5px rgba(225, 132, 10, 0.5);
    }

    .stopwatch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Press Start 2P", serif;
        font-size: 1.9rem;
        height: 100%;
        gap: 30px;
    }

    .alarms-container {
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    }

    .container-timer {
        height: 150px;
        width: 400px;
        border-radius: 20px;
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 5px rgba(225, 132, 10, 0.5);
    }

    .timer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Press Start 2P', serif;
        font-size: 1.9rem;
        height: 100%;
    }

    .theme-toggle {
        position: absolute;
        top: 10px;  /* Ajusta según el tamaño de tu navbar */
        right: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #e3d5ca;
        padding: 10px 0;
      }
    
      .navbar ul li {
        margin: 10px 0;
        text-align: center;
      }

      .logo {
        display: block;
      }
    
      .menu-icon {
        display: block;
      }
    
      .navbar ul.active {
        display: flex;
      }
    

}