@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Pacifico&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');



body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-color: #0e1011;
}





nav>ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav>ul>li {
  flex: 1 1 auto;
  text-align: center;
}

.navbar {
  background-color: black;
  padding: 5px 10px;
}


.navbar ul li a {
  color: rgb(255, 136, 0);
  text-decoration: none;
  font-size: 2rem;
  font-family: "Jersey 10", serif;
}

.fa-solid {
  font-size: 1.5rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

main>section:not(:target) {
  display: none;
}

.clock-time {
  font-weight: 300;
  color: rgb(255, 136, 0);
  font-family: "Jersey 10", serif;
  font-size: 9rem;
}


.container-clock {
  height: 150px;
  width: 500px;
  border-radius: 20px;
  border: 3px solid rgb(255, 136, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 5px rgba(225, 132, 10, 0.5);
}

.container-stopwatch {
  height: 150px;
  width: 700px;
  border-radius: 20px;
  border: 3px solid rgb(255, 136, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 5px rgba(225, 132, 10, 0.5);
}


.alarms-container {
  max-height: 250px; 
  width: 400px;
  overflow-y: auto; 
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #616161;
}

.start.active {
  background-color: green;
  color: white;
}

.start {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.pause {
  background-color: rgb(211, 48, 48);
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


.items .alarms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  border-bottom: 5px solid #ddd;
  background-color: #221b1b;
  border-radius: 5px;
}

.alarms {
  display: flex;
  flex-direction: row;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', serif;
  color: rgb(255, 136, 0);
  font-size: 3rem;
  height: 100%;
  gap: 30px;
}

.container-timer {
  height: 150px;
  width: 700px;
  border-radius: 20px;
  border: 3px solid rgb(255, 136, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 5px rgba(225, 132, 10, 0.5);
}


.stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", serif;
  color: rgb(255, 136, 0);
  font-size: 3rem;
  height: 100%;
  gap: 30px;
}



.controls {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 10px;
  gap: 16px;
}

input {
  background-color: #221b1b;
  border: 2px solid #ff9100;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  color: #f7890c;
}



input:focus {
  border-color: #e48e54;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}


.restart {
  background-color: rgb(255, 136, 0);
  color: black;
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


.loop {
    background-color: rgb(255, 136, 0);
    color: black;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .no-loop {
    background-color: rgb(255, 136, 0);
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  

.delete {
      background-color: rgb(129, 129, 129);
      color: rgb(0, 0, 0);
      padding: 5px 20px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
    }

.alarm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add {
  background-color: rgb(255, 136, 0);
  color: black;
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 0, 0);
    transition: .4s;
    border-radius: 30px;
}

body.light-mode .slider {
    background-color: #d95050;
}
.slider:before {
    position: absolute;
    content: "timer";
    font-family: 'Material Icons';
    font-size: 20px;
    left: 5px;
    bottom: 5px;
    color: white;
    transition: .4s;
}
input:checked + .slider {
    background-color: green;
}

input:checked + .slider:before {
    content: "timer_off";
    transform: translateX(30px);
}